In [28]:
# test dataset

import pandas as pd
from PIL import ImageOps, Image
import numpy as np

In [29]:
path_to_file = r"D:\projects\NIR\datasets\csv_files\W101_S5_L146410.csv"
df = pd.read_csv(path_to_file, header=None, index_col=None)

In [30]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,10192,10193,10194,10195,10196,10197,10198,10199,10200,10201
0,0.776425,0.939498,0.671356,0.713594,0.966783,0.788003,0.682301,0.962669,0.755231,0.926953,...,0.550006,0.571527,0.770053,0.620139,0.663009,0.650263,0.561222,0.551976,0.613732,138.0
1,1.000000,0.951770,1.000000,1.000000,1.000000,1.000000,1.000000,0.960293,1.000000,1.000000,...,1.000000,0.920674,0.626827,0.717923,0.654002,0.758916,0.940937,0.577766,0.640323,109.0
2,0.340462,0.440742,0.337745,0.417203,0.397733,0.320829,0.369644,0.403782,0.398214,0.161167,...,0.210342,0.289668,0.307051,0.342877,0.354795,0.316479,0.468294,0.473686,0.364773,5.0
3,0.465791,0.473407,0.480169,0.413451,0.380279,0.437726,0.398402,0.371474,0.422423,0.542875,...,0.422291,0.372528,0.435918,0.507715,0.448638,0.384309,0.389550,0.417957,0.543394,79.0
4,0.707940,0.756430,0.829387,0.715577,1.000000,0.887930,0.790725,1.000000,0.862896,0.918885,...,0.181787,0.069133,0.124470,0.141458,0.116443,0.192729,0.168289,0.081457,0.076870,73.0

In [33]:
sample = df.iloc[6]
data = sample[:-1]
target = sample[101 * 101]
display(data)
display(target)

0        0.612083
1        0.631299
2        0.707209
3        0.807058
4        0.709199
           ...
10196    0.454557
10197    0.470783
10198    0.455060
10199    0.436187
10200    0.444456
Name: 6, Length: 10201, dtype: float64

129.0

In [34]:
data = np.array(data)
data *= 255
data = np.where(data >= 255, 255, data).reshape((101, -1))
img = Image.fromarray(data)
img.show()